{
  "trailingComma": "es5",
  "tabWidth": 2,
  "useTabs": true,
  "semi": false,
  "singleQuote": false,
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^../components/(.*)$",
    "^./components/(.*)$",
    "^../hooks/(.*)$",
    "^./hooks/(.*)$",
    "^../types/(.*)$",
    "^./types/(.*)$",
    "^../assets/(.*)$",
    "^./assets/(.*)$",
    "^../(.*)",
    "^./(.*)"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}